.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 1.8rem 1rem 1rem;
}

.header {
  color: white;
  background: blue;
  padding: 1rem;
  margin: 0;
  text-align: center;
}

.input__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.input__number {
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
  font-size: 20px;
}

@media screen and (max-width: 460px) {
  .App {
    display: block;
  }
}
